# //* ====== Server Configuration ====== *//
PORT=7000

# //* ====== Discord Configuration ====== *//
BOT_TOKEN=
GUILD_ID=
DEVELOPER_IDS=
PREFIX=

# //* ====== GitHub Configuration ====== *//
GT_ACCESS_TOKEN=
GT_USERNAME=
GT_REPOSITORY=

# //* ====== Database Configuration ====== *//
MONGODB_URI=
